.badge {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ff6229;
  color: white;
  border-radius: 50%;
}

.dot {
  background-color: #ff6229;
  font-size: 10px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 50%;
}
