.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column:last-child .user-component__text:nth-child(2) {
  font-size: 90px;
}

.user-component__text {
  margin-left: 10px;
}

.user-component__title {
  font-size: 20px;
}

.user-component__avatar {
  position: relative;
  transition: all 300ms ease-in;
}

.user-component__avatar:hover {
  transform: scale(1.1);
}

.user-component__avatar--sm {
  width: 45px;
  height: 45px;
  border-radius: 20px;
  margin-right: var(--horizontal-space);
}

.user-component__avatar--lg {
  width: 50px;
  height: 50px;
  border-radius: 21px;
  margin-right: var(--horizontal-space);
}

.user-component__avatar--xl {
  width: 55px;
  height: 55px;
  border-radius: 22px;
  margin-right: 10px;
}

.user-component__number {
  margin-right: 5px;
}

.user-component__number,
.user-component__column > i {
  color: #8e8e8e;
}

.user-component__number:hover {
  transform: scale(1.5);
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 13px;
  color: #8e8e8e;
}

.user-component__time {
  margin-bottom: 5px;
  font-size: 13px;
  color: #8e8e8e;
  display: block;
}
